
<button {{action "updateList"}}>Update Posts</button>

<table>
  <thead>
    <td>Title</td>
    <td>Price</td>
  </thead>
  {{#each posts as |post|}}
    <tr>
      <td onmouseover={{action "getDetails" post.url}}><a href="{{post.url}}">{{post.title}}</a></td>
      <td>{{post.price}}</td>
    </tr>
  {{/each}}
</table>

<button {{action "prevPage"}}>&lt;</button>
<button {{action "nextPage"}}>&gt;</button>
<span>Page: {{currentPage}}</span>

{{#if currentDetails}}
  <div>
    <div>{{currentDetails.attributes}}</div>
    <div>{{currentDetails.description}}</div>
    {{#each currentDetails.images as |imagesrc|}}
      <img height="100px" width="100px" src="{{imagesrc}}"/>
    {{/each}}
  </div>
{{/if}}

{{outlet}}

