
<button {{action "updateList"}}>Refresh</button>
<button {{action "getBookmarked"}}>Bookmarked Only</button>

<table style="font-size: 10px;">
  <thead>
  <td></td>
  <td>Bkmk</td>
  <td>Trsh</td>
  <td>Title</td>
  <td>Price</td>
  <td>City</td>
  </thead>
  {{#each posts as |post postindex|}}
    <tr class="{{if (eq postindex selectedIndex) 'selected-row'}}">
      <button {{action "getDetails" post postindex}}>Details</button>
      <td>{{input type="checkbox" checked=post.bookmarked change=(action "onBookmark" post) }}</td>
      <td>{{input type="checkbox" checked=post.trash change=(action "onTrash" post) }}</td>
      <td><a href="{{post.url}}">{{post.title}}</a></td>
      <td>{{post.price}}</td>
      <td>{{post.city}}</td>
    </tr>
  {{/each}}
</table>

<button {{action "prevPage"}}>&lt;</button>
<button {{action "nextPage"}}>&gt;</button>
<span>Page: {{currentPage}}</span>

{{#if currentDetails}}
<div>
  <pre>{{currentDetails.description}}</pre>
  <div>{{currentDetails.attributesString}}</div>
  {{#each currentDetails.images as |imagesrc imageindex|}}
    <img onclick={{action "zoomImage" imageindex}} class={{if (eq zoomIndex imageindex) "zoomed-image"}} height="100px" width="100px" src="{{imagesrc}}"/>
  {{/each}}
</div>
{{/if}}

{{outlet}}

